echo .wrangler/> .gitignore
echo node_modules/>> .gitignore
echo .DS_Store>> .gitignore
echo *.log>> .gitignore
echo .env>> .gitignore
echo .env.local>> .gitignore

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
